body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 5%;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 3%;
}
.last-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.last-box{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-bottom: 6%;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 40px rgb(88, 94, 99);
}
#full-stack-developer{
    border-left: 5px solid tomato;
}
#babe-stack-developer{
    border-left: 4px solid blueviolet;
}
footer p{
    text-align: center;
}