body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 5%;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
